.login-title {
    border-bottom: solid 3px #e47d31;
    height: 40px;
    width: 100px;
    font-family: Helvetica;
    font-weight: bold;
    color: #4c4c4c;
    text-align: center;
    font-size: 24px;
    margin-top: 50px;
    margin-bottom: 30px;

}