.finish-registration-button {
  width: 259px;
  font-family: Helvetica;
  font-size: 20px;
  text-align: center;
  color: #ffffff;
  height: 55px;
  border-radius: 28px;
  background-color: #e47d31;
  border: 0px;
  margin-top: 50px;
}
